# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django / banco local
db.sqlite3
db.sqlite3-journal

# Variáveis de ambiente
.env
.env.*

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db